
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oleo+Script:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
    align-items: center;
    background: url(picture/Background.jpg)center/cover no-repeat;
}
.maingame{
    display: grid;
    grid-template-columns: repeat(3,80px);
    border-radius: 40px;
    background-color: rgba(120,120,120, 0.9);
}
.mycell{
    color: white;
    width: 80px;
    height: 80px;
    background-color: rgba(120,120,120, 0.5);
    border: 1px solid rgb(86, 87, 90);
    display: flex;
    font-family: Lobster Two;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.heading{
    color:aliceblue;
    width: 13rem;
    font-family: monospace;
    text-wrap: nowrap;
    overflow:hidden;
    animation: typing 4s steps(30) infinite alternate-reverse;
    font-family: Lobster Two;
}

.Restart{
    background-color: rgba(120,120,120, 0.5);
    height: 40px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.turn{
    color: white;
    font-family: Lobster Two;
     font-size: 25px;
}
.player{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: white;
    padding: 1rem;
    background-color: rgba(120,120,120, 0.5);
    border-radius: 8px;
}
.X{
    color: aliceblue;
    font-family: Lobster Two;
}
.O{
    color: aquamarine;
    font-family: Lobster Two;
}
@keyframes typing {
    from{
        width: 0;
    }
    
}