*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.maingame{
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.mycell{
    background-color: rgba(120, 129, 110, 0.8);
    border: none;
    outline: none;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}